local.file_match "debian_logs" {
  path_targets = [
    {
      "__path__"         = "/var/log/**.log",
      "__path_exclude__" = "/var/log/pods/**/*.log",
    },
  ]
}

loki.source.file "local_files" {
  targets    = local.file_match.debian_logs.targets
  forward_to = [loki.write.loki_endpoint.receiver]
}

loki.write "loki_endpoint" {
  endpoint {
    url = "{{ loki_url }}"
  }
}

loki.source.journal "system" {
  forward_to = [loki.write.loki_endpoint.receiver]
  format_as_json = true
  relabel_rules = loki.relabel.journal.rules
  labels        = { job = "log_collection" }
}

loki.relabel "journal" {
  forward_to = []
  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "service_name"
  }
}

prometheus.remote_write "default" {
  endpoint {
    url = "http://192.168.1.2:9090/api/v1/write"
    // basic_auth {
    //   username = "your-username"
    //   password = "your-password"
    // }
  }
}

prometheus.exporter.unix "local_system" { }

prometheus.scrape "linux_metrics" {
  targets    = prometheus.exporter.unix.local_system.targets
  forward_to = [prometheus.remote_write.default.receiver]
}

discovery.docker "linux" {
  host = "unix:///var/run/docker.sock"
}

loki.source.docker "default" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.docker.linux.targets
  labels     = {"app" = "docker"}
  forward_to = [loki.write.loki_endpoint.receiver]
}

local.file_match "kubernetes_pods" {
  path_targets = [
    { "__path__" = "/var/log/pods/**/*.log" },
  ]
}

loki.source.file "kubernetes_pods" {
  targets    = local.file_match.kubernetes_pods.targets
  forward_to = [loki.relabel.kubernetes_pods.receiver]
}

loki.relabel "kubernetes_pods" {
  forward_to = [loki.write.loki_endpoint.receiver]

  rule {
    source_labels = ["filename"]
    regex         = "/var/log/pods/([^_]+)_([^_]+)_([^/]+)/([^/]+)/[^/]+\\.log"
    target_label  = "namespace"
    replacement   = "$1"
  }
  rule {
    source_labels = ["filename"]
    regex         = "/var/log/pods/([^_]+)_([^_]+)_([^/]+)/([^/]+)/[^/]+\\.log"
    target_label  = "pod"
    replacement   = "$2"
  }
  rule {
    source_labels = ["filename"]
    regex         = "/var/log/pods/([^_]+)_([^_]+)_([^/]+)/([^/]+)/[^/]+\\.log"
    target_label  = "container"
    replacement   = "$4"
  }
  rule {
    target_label = "job"
    replacement  = "kubernetes-pods"
  }
}

discovery.kubernetes "pods" {
  role = "pod"
}

// Filter so nodes only scrape their own pods
discovery.relabel "local_pods" {
  targets = discovery.kubernetes.pods.targets

  rule {
    source_labels = ["__meta_kubernetes_pod_node_name"]
    regex         = sys.env("HOSTNAME") // Assumes your DaemonSet passes the node name as HOSTNAME
    action        = "keep"
  }
}

// Scrape targets found by discovery
prometheus.scrape "k8s_metrics" {
  targets    = discovery.relabel.local_pods.output
  forward_to = [prometheus.remote_write.default.receiver]
}
