loki.write "loki_endpoint" {
  endpoint {
    url = "http://{{ loki.fqdn }}/loki/api/v1/push"
  }
}

local.file_match "debian_logs" {
  path_targets = [
    {
      "__path__"         = "/var/log/**.log",
      "__path_exclude__" = "/var/log/pods/**/*.log",
      "node_name"        = "{{ node_name }}"
    },
  ]
}

loki.source.file "local_files" {
  targets    = local.file_match.debian_logs.targets
  forward_to = [loki.write.loki_endpoint.receiver]
}

loki.source.journal "system" {
  forward_to = [loki.write.loki_endpoint.receiver]
  format_as_json = true
  relabel_rules = loki.relabel.journal.rules
  labels        = {
    job = "journald_log",
    node_name = "{{ node_name }}"
  }
}

loki.relabel "journal" {
  forward_to = []
  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "service_name"
  }
}

discovery.docker "linux" {
  host = "unix:///var/run/docker.sock"
}

loki.source.docker "default" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.docker.linux.targets
  labels     = {
    "app" = "docker",
    "node_name" = "{{ node_name }}"
  }
  forward_to = [loki.write.loki_endpoint.receiver]
}

local.file_match "kubernetes_pods" {
  path_targets = [
    { "__path__" = "/var/log/pods/**/*.log" },
  ]
}

loki.source.file "kubernetes_pods" {
  targets    = local.file_match.kubernetes_pods.targets
  forward_to = [loki.relabel.kubernetes_pods.receiver]
}

loki.relabel "kubernetes_pods" {
  forward_to = [loki.write.loki_endpoint.receiver]

  rule {
    source_labels = ["filename"]
    regex         = "/var/log/pods/([^_]+)_([^_]+)_([^/]+)/([^/]+)/[^/]+\\.log"
    target_label  = "namespace"
    replacement   = "$1"
  }
  rule {
    source_labels = ["filename"]
    regex         = "/var/log/pods/([^_]+)_([^_]+)_([^/]+)/([^/]+)/[^/]+\\.log"
    target_label  = "pod"
    replacement   = "$2"
  }
  rule {
    source_labels = ["filename"]
    regex         = "/var/log/pods/([^_]+)_([^_]+)_([^/]+)/([^/]+)/[^/]+\\.log"
    target_label  = "container"
    replacement   = "$4"
  }
  rule {
    target_label = "job"
    replacement  = "kubernetes-pods"
  }
  rule {
    target_label = "node_name"
    replacement  = "{{ node_name }}"
  }
}
