loki.write "loki_endpoint" {
  endpoint {
    url = "http://{{ loki_local_domain }}/loki/api/v1/push"
  }
}

local.file_match "debian_logs" {
  path_targets = [
    {
      "__path__" = "/var/log/**.log",
      "node_name"        = "{{ node_name }}"
    },
  ]
}

loki.source.file "local_files" {
  targets    = local.file_match.debian_logs.targets
  forward_to = [loki.write.loki_endpoint.receiver]
}

loki.source.journal "system" {
  forward_to = [loki.write.loki_endpoint.receiver]
  format_as_json = true
  relabel_rules = loki.relabel.journal.rules
  labels        = {
    job = "journald_log",
  }
}

loki.relabel "journal" {
  forward_to = []

  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "service_name"
  }
  rule {
    source_labels = ["__journal__hostname"]
    target_label  = "node_name"
  }
}
