// 1. Scraping Local Debian Log Files
local.file_match "debian_logs" {
  path_targets = [
    { "__path__" = "/var/log/*.log" },
    { "__path__" = "/var/log/syslog" },
  ]
}

loki.source.file "local_files" {
  targets    = local.file_match.debian_logs.targets
  forward_to = [loki.write.loki_endpoint.receiver]
}

loki.write "loki_endpoint" {
  endpoint {
    url = "{{ loki_url }}"
  }
}

loki.source.journal "system" {
  forward_to = [loki.write.loki_endpoint.receiver]
  format_as_json = true
}
