local.file_match "debian_logs" {
  path_targets = [
    { "__path__" = "/var/log/**.log" },
  ]
}

loki.source.file "local_files" {
  targets    = local.file_match.debian_logs.targets
  forward_to = [loki.write.loki_endpoint.receiver]
}

loki.write "loki_endpoint" {
  endpoint {
    url = "{{ loki_url }}"
  }
}

loki.source.journal "system" {
  forward_to = [loki.process.filter_noisy_logs.receiver]
  format_as_json = true

}

loki.process "filter_noisy_logs" {
  forward_to = [loki.write.loki_endpoint.receiver]
  stage.drop {
    source = "message"
    value = "syslogin_perform_logout: logout() returned an error"
    drop_counter_reason = "ansible_ssh_logout_noise"
  }
}

local.file "auth_vault_metrics" {
  filename  = "/home/essan/.auth_vault_metrics"
  is_secret = true
}


discovery.relabel "vault" {
	targets = [{
		__address__ = "{{ ansible_host }}:8200",
	}]

	rule {
		target_label = "instance"
		replacement  = constants.hostname
	}
}

prometheus.scrape "vault" {
  forward_to = [prometheus.remote_write.default.receiver]
  targets = discovery.relabel.vault.output
  scheme = "http"
  job_name = "vault"
  scrape_interval = "10s"
  scrape_timeout = "5s"
  params = {
    format = ["prometheus"],
  }
  metrics_path = "/v1/sys/metrics"
  basic_auth {
    password_file = local.file.auth_vault_metrics.content
  }
}

prometheus.remote_write "default" {
  endpoint {
    url = "http://192.168.1.2:9090/api/v1/write"
    // basic_auth {
    //   username = "your-username"
    //   password = "your-password"
    // }
  }
}

// Scrape local Linux system metrics
prometheus.exporter.unix "local_system" { }

// Collect and label the metrics
prometheus.scrape "linux_metrics" {
  targets    = prometheus.exporter.unix.local_system.targets
  forward_to = [prometheus.remote_write.default.receiver]
}

prometheus.exporter.consul "consul_health" {
  server = "http://{{ ansible_host }}:8500"
}

prometheus.scrape "scrape_consul_cluster" {
  targets    = prometheus.exporter.consul.consul_health.targets
  forward_to = [prometheus.remote_write.default.receiver]
}
