local.file_match "debian_logs" {
  path_targets = [
    { "__path__" = "/var/log/**.log" },
  ]
}

loki.source.file "local_files" {
  targets    = local.file_match.debian_logs.targets
  forward_to = [loki.write.loki_endpoint.receiver]
}

loki.write "loki_endpoint" {
  endpoint {
    url = "{{ loki_url }}"
  }
}

loki.source.journal "system" {
  forward_to = [loki.process.filter_noisy_logs.receiver]
  format_as_json = true
  relabel_rules = loki.relabel.journal.rules
  labels        = { job = "log_collection" }
}

loki.relabel "journal" {
  forward_to = []

  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "service_name"
  }

  rule {
    source_labels = ["__journal__transport"]
    target_label  = "transport"
  }

  rule {
    source_labels = ["__journal_priority_keyword"]
    target_label  = "level"
  }

  rule {
    source_labels = ["__journal__hostname"]
    target_label  = "host_name"
  }
}

prometheus.remote_write "default" {
  endpoint {
    url = "http://192.168.1.2:9090/api/v1/write"
    // basic_auth {
    //   username = "your-username"
    //   password = "your-password"
    // }
  }
}

prometheus.exporter.unix "local_system" { }

prometheus.scrape "linux_metrics" {
  targets    = prometheus.exporter.unix.local_system.targets
  forward_to = [prometheus.remote_write.default.receiver]
}

local.file "auth_vault_metrics" {
  filename  = "/etc/alloy/.auth_vault_metrics"
  is_secret = true
}

prometheus.scrape "vault" {
  forward_to = [prometheus.remote_write.default.receiver]
  targets = "{{ ansible_host }}:8200"
  scheme = "http"
  job_name = "vault"
  scrape_interval = "10s"
  scrape_timeout = "5s"
  params = {
    format = ["prometheus"],
  }
  metrics_path = "/v1/sys/metrics"
  basic_auth {
    username = "vault_metrics"
    password = local.file.auth_vault_metrics.content
  }
}

prometheus.exporter.consul "consul_health" {
  server = "http://{{ ansible_host }}:8500"
}

prometheus.scrape "scrape_consul_cluster" {
  targets    = prometheus.exporter.consul.consul_health.targets
  forward_to = [prometheus.remote_write.default.receiver]
}
