# user nobody;
include /etc/nginx/modules-enabled/*.conf;

worker_processes 1;

# Kubernetes control-plane settings
events {}

stream {
    upstream kube_apiserver {
        {% for host in groups['servers'] %}
        server {{ hostvars[host]['ansible_host'] }}:6443;
        {% endfor %}
    }

    server {
        listen 6443;
        proxy_pass kube_apiserver;
    }
}

http {
    # Metric block configured to be scraped by prometheus
    server {
        listen 127.0.0.1:8080;
        server_name localhost;

        location /stub_status {
            stub_status on;
            allow 127.0.0.1;       # Only allow local connections
            deny all;              # Deny everyone else
        }
    }

    # Prometheus configuration
    server {
        listen 80;
        server_name {{ prometheus.fqdn }};

        location / {
            proxy_pass http://127.0.0.1:9090/;
        }
    }

    # Loki configuration
    server {
        server_name {{ loki.fqdn }};
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:3100;
            # proxy_set_header Host $host;
            # proxy_http_version 1.1;
        }
    }

    # Grafana
    # This is required to proxy Grafana Live WebSocket connections.
    map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
    }
    server {
        server_name {{ grafana.fqdn }};
        listen 80;
        root /usr/share/nginx/html;
        index index.html index.htm;

        location / {
            proxy_pass http://127.0.0.1:3000;
            proxy_set_header Host $host;
        }

        # Proxy Grafana Live WebSocket connections.
        location /api/live/ {
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;
            proxy_set_header Host $host;
            proxy_pass http://127.0.0.1:3000;
        }
    }

    # Consul settings
    server {
        listen 80;
        server_name {{ consul.fqdn }};

        # Optimize logs for API traffic
        access_log /var/log/nginx/consul_access.log;
        error_log /var/log/nginx/consul_error.log;

        # Proxy all traffic to Consul
        location / {
            proxy_pass http://127.0.0.1:8500;

            # Required HTTP headers for Consul UI & API stability
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            # WebSocket support (Required for Consul UI live updates)
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";

            # Prevent Consul timeout on long-polling endpoints (like blocking queries)
            proxy_read_timeout 310s;
        }
    }

    # Hashicorp vault settings
    server {
        listen 80;
        server_name {{ vault.fqdn }};
        location / {
            proxy_pass http://127.0.0.1:8200;
        }
    }
}
