# user nobody;
worker_processes 1;

events {}

http {
    server {
        server_name {{ grafana_local_domain }};
        location / {
            proxy_pass http://127.0.0.1:3000;
        }
    }
}
