local.file_match "debian_logs" {
  path_targets = [
    { "__path__" = "/var/log/*.log" },
    { "__path__" = "/var/log/auth.log" },
    { "__path__" = "/var/log/syslog" },
  ]
  sync_period = "10s"
}

loki.source.file "local_files" {
  targets    = local.file_match.debian_logs.targets
  forward_to = [loki.process.vm_labeling.receiver]
}

loki.write "loki_endpoint" {
  endpoint {
    url = "{{ loki_url }}"
  }
}

loki.process "vm_labeling" {
  forward_to = [loki.write.loki_endpoint.receiver]
  stage.static_labels "host_labeling" {
    values = {
      ip_address  = "{{ ansible_host }}",
      host_group  = "{{ group_names[0] }}",
    }
  }
}

loki.source.journal "docker_logs" {
  forward_to = [loki.process.vm_labeling.receiver]
  matches    = "_SYSTEMD_UNIT=docker.service"
  labels     = {service = "docker"}
}

loki.source.journal "containerd_logs" {
  forward_to = [loki.process.vm_labeling.receiver]
  matches    = "_SYSTEMD_UNIT=containerd.service"
  labels     = {service = "containerd"}
}

loki.source.journal "kubelet_logs" {
  forward_to = [loki.process.vm_labeling.receiver]
  matches    = "_SYSTEMD_UNIT=kubelet.service"
  labels     = {service = "kubelet"}
}

loki.source.journal "sudo_logs" {
  forward_to = [loki.process.vm_labeling.receiver]
  matches    = "_SYSTEMD_UNIT=sudo.service"
  labels     = {service = "sudo"}
}

loki.source.journal "alloy_logs" {
  forward_to = [loki.process.vm_labeling.receiver]
  matches    = "_SYSTEMD_UNIT=alloy.service"
  labels     = {service = "alloy"}
}

loki.source.journal "sshd_logs" {
  forward_to = [loki.process.vm_labeling.receiver]
  matches    = "_SYSTEMD_UNIT=sshd.service"
  labels     = {service = "sshd"}
}
