datacenter = "jagatku"
data_dir = "/opt/consul"
#client_addr = "0.0.0.0"
ui_config{
  enabled = true
}
server = true
#bind_addr = "[::]" # Listen on all IPv6
bind_addr = "0.0.0.0" # Listen on all IPv4
advertise_addr = "{{ ansible_host }}"
#license_path = "/etc/consul.d/consul.hclic"
#bootstrap_expect=3
#encrypt = "..."
#retry_join = ["consul.domain.internal"]
#retry_join = ["10.0.4.67"]
#retry_join = ["[::1]:8301"]
#retry_join = ["consul.domain.internal", "10.0.4.67"]
#retry_join = ["provider=aws tag_key=... tag_value=..."]
#retry_join = ["provider=azure tag_name=... tag_value=... tenant_id=... client_id=... subscription_id=... secret_access_key=..."]
#retry_join = ["provider=gce project_name=... tag_value=..."]